<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eric Aparicio Vera</title>
    <meta name="description" content="Eric Aparicio Vera's resume" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="../../css/style.css" />
    
    <script defer src="./../../js/app.js"></script>
  </head>
  <body>
    <header class="topheader">
      <nav class="topnav">
        <a href="#" class="logo">
          <div class="logotype">
          <img src="../../img/icons8-usuario-100.png"><br />
          </div>
        </a>
        <button class="open-menu" aria-label="Abrir menu">
          <img src="../../img/hamburger-icon.svg" alt="Abrir menu" />
        </button>
        <ul class="menu">
          <button class="close-menu" aria-label="Cerrar menu">
            <img src="../../img/close-icon.svg" alt="Cerrar menu" />
          </button>
          <li><a href="#profile" class="selected">Profile</a></li>
          <li><a href="#aficiones">Hobbies</a></li>
          <li><a href="#estudio">Studies</a></li>
          <li><a href="#idiomas">Languages</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#video">Video</a></li>
        </ul>
      </nav>
    </header>    
    <div class="horizontal-padding vertical-padding">
    <section class="profile" id="profile">
      <div class="profile-info">
       <h1 class="profile-title">Hi, I'm <br>Eric Aparicio Vera</h1>
       <p class="profile-details">
        I am an SMX student passionate about the world of computing and eager to learn.
        </p>
        <a class="profile-btn" href="../../Eric Aparicio Vera - CV.pdf" download
        >Download CV</a>
      </div>
      <span class="profile-img-section">
        <img
        class="profile-img"
        src="../../img/professional-profile.png"
        alt="programmer"/>
        <div class="profile-img-line"></div>
      </span>
    </section>
      </div>
      <section class="aficiones" id="aficiones">
        <h2 class="estudios-title">Hobbies</h2>
        <div class="aficion">
            <div class="column">
                <h2>Listening to music</h2>
                <p>I could say that listening to music is one of my favorite hobbies. Setting aside the multiple genres that exist, it's a way to keep me active and relaxed at the same time.</p>
            </div>
            <div class="column">
                <h2>Playing Soccer</h2>
                <p>Soccer is my favorite sport. I love the thrill of chasing the ball and scoring a goal. It's also an excellent way to keep me active and fit.</p>
            </div>
            <div class="column">
                <h2>Reading</h2>
                <p>Reading is one of my favorite ways to pass the time. I love immersing myself in a good story and letting my mind relax. It's also an excellent way to learn new things and expand my vocabulary.</p>
            </div>
        </div>
    </section>
    <section class="estudios" id="estudio">
      <img src="../../img/wave.svg" alt="division" class="wave" />
      <div class="estudios-body">
      <h2 class="estudios-title">Studies</h2>
      <div class="estudios-grid">
      <div class="empty"></div>
      <div class="line"></div>
      <div class="estudio">
      <div class="estudio-date">2022-2023</div>
      <div class="estudio-company">Microinformatics Systems and Networks 2 </div>
      <div class="estudio-position">Jesuïtes Bellvitge</div>
        <div class="estudio-description">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130488882955!2d2.1047222759552833!3d41.34989647130462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683583534234!5m2!1ses!2ses" class="mapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="estudio estudio_left">
        <div class="estudio-date">2021-2022</div>
        <div class="estudio-company">Microinformatics Systems and Networks 1</div>
        <div class="estudio-position">Jesuïtes Bellvitge</div>
        <div class="estudio-description">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130488882955!2d2.1047222759552833!3d41.34989647130462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683583534234!5m2!1ses!2ses" class="mapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="line"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="line"></div>
         <div class="estudio">
            <div class="estudio-date">2017-2021</div>
            <div class="estudio-company">Compulsory Secondary Education</div>
            <div class="estudio-position">Teresianes Gracia</div>
            <div class="estudio-description">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.5464161505693!2d2.16239437595819!3d41.40565587129761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2c0abc2a8e9%3A0x337a5ce002026e32!2sColegio%20Sant%20Josep%20-%20Teresianes!5e0!3m2!1ses!2ses!4v1683583559217!5m2!1ses!2ses" class="mapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <img src="../../img/wave.svg" alt="divider" class="wave wave_bottom" />
      </section>
          <section class="idiomas" id="idiomas">
          <h2 class="experiences-title">Languages</h2>
          <div class="experience-description">
            <ul class="centrar">
              <br>
              <li><img src="./../../img/Bandera_de_España_(sin_escudo).svg" alt="Spanish flag" class="bandera"> Spanish (native)</li>
              <br>
              <li><img src="./../../img/Flag_of_Catalonia.svg" alt="Catalan flag" class="bandera"> Catalan (native)</li>
              <br>
              <li><img src="./../../img/Flag_of_Great_Britain.png" alt="Flag of Great Britain" class="bandera">  Inglés (intermediate) </li>
              <br>
              <li><img src="./../../img/Flag_of_Germany.svg" alt="flag of Germany" class="bandera"> German (basic)</li>
              <br>
              <li><img src="./../../img/Flag_of_France.svg" alt="flag of France" class="bandera"> French (basic)</li>
            </ul>
          </div>
        </section>
          <section class="experiences" id="experience">
            <img src="../../img/wave.svg" alt="divider" class="wave" />
            <div class="experiences-body">
              <h2 class="experiences-title">Experience</h2>
              <div class="experiences-grid">
                <div class="empty"></div>
                <div class="line"></div>
                <div class="experience">
                  <div class="experience-date">(2022) June - November </div>
                  <div class="experience-company">Escoles Garbí Esplugues</div>
                  <div class="experience-position">SMX Internship</div>
                  <div class="experience-description">
                    I learned how to use different computer tools, as well as performing administrative tasks such as inventorying devices. I also did maintenance tasks on devices such as projectors, computers, digital whiteboards, and tablets.
                  </div>
                </div>
              </div>
            </div>
            <img src="../../img/wave.svg" alt="divider" class="wave wave_bottom" />
          </section>
      
      
          <div class="horizontal-padding vertical-padding">
            <section class="skills" id="skills">
              <h2 class="skills-title">Skills</h2>
              <ul class="skills-list">
                <li class="skills-skill">Teamwork</li>
                <li class="skills-skill">Great learning ability</li>
                <li class="skills-skill">Creativity</li>
                <li class="skills-skill">Flexibility/ Adaptability to change</li>
                <li class="skills-skill">Initiative</li>
                <li class="skills-skill">Commitment</li>
              </ul>
            </section>
          </div>
  
    <div class="horizontal-padding vertical-padding">
      <section class="video" id="video">
         <iframe class="yt"src="https://www.youtube.com/embed/FnCywi5cJK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </section>
    </div>
    <footer>
      <div class="idiomas-container">
        <a href="../../index.html" class="idioma"><img src="../../img/Bandera_de_España_(sin_escudo).svg" alt="bandera de españa" class="bandera"></a>
      </div>
    </footer>
  </body>
</html>

